{% extends 'base.html.twig' %}

{% block title %}Iniciar sesión{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Estás logeado como {{ app.user.username }}, <a href="{{ path('app_logout') }}">Cerrar sesión</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Por favor, inicia sesión</h1>
    <label for="inputUsername">Usuario</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword">Contraseña</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        Entrar
    </button>
    <p>No eres miembro? <a href="{{ path('app_register') }}">Regístrate</a></p>
</form>
{% endblock %}
