{% extends 'base.html.twig' %}

{% block title %}Registrarse{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Registrarse</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {
            label: 'Usuario'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Contraseña'
        }) }}

        <button type="submit" class="btn">Registrarse</button>
    {{ form_end(registrationForm) }}
{% endblock %}
