{% extends 'base.html.twig' %}

{% block title %}Film index{% endblock %}

{% block body %}
    <h1>Film index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Year</th>
                <th>Sinopsis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for filmoteca in filmotecas %}
            <tr>
                <td>{{ filmoteca.id }}</td>
                <td>{{ filmoteca.title }}</td>
                <td>{{ filmoteca.year }}</td>
                <td>{{ filmoteca.sinopsis }}</td>
                <td>
                    <a href="{{ path('filmoteca_show', {'id': filmoteca.id}) }}">show</a>
                    <a href="{{ path('filmoteca_edit', {'id': filmoteca.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('filmoteca_new') }}">Create new</a>
{% endblock %}
