{% extends 'base.html.twig' %}

{% block title %}Filmoteca{% endblock %}

{% block body %}
    <h1>Filmoteca</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Año</th>
                <th>Sinopsis</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for filmoteca in filmotecas %}
            <tr>
                <td>{{ filmoteca.id }}</td>
                <td>{{ filmoteca.title }}</td>
                <td>{{ filmoteca.year }}</td>
                <td>{{ filmoteca.sinopsis }}</td>
                <td>
                    <a href="{{ path('filmoteca_show', {'id': filmoteca.id}) }}">Ver</a>
                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('filmoteca_edit', {'id': filmoteca.id}) }}">Editar</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No se han encontrado películas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('filmoteca_new') }}">Crear</a>
    {% endif %}
{% endblock %}
