{% extends 'base.html.twig' %}

{% block title %}Filmoteca{% endblock %}

{% block body %}
    <h1>Filmoteca</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ filmoteca.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ filmoteca.title }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ filmoteca.year }}</td>
            </tr>
            <tr>
                <th>Sinopsis</th>
                <td>{{ filmoteca.sinopsis }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('filmoteca_index') }}">back to list</a>

    <a href="{{ path('filmoteca_edit', {'id': filmoteca.id}) }}">edit</a>

    {{ include('filmoteca/_delete_form.html.twig') }}
{% endblock %}
